*{
	margin:0px;
	padding:0px;
}
.wrapper{
	margin:50px auto;
	background-color:#bfa;
	width:80%;
	height:800px;
	flex:content;
}
.wrapper p{
	float:inline-start;
}
.board{
	margin:10% auto;
	width:800px;
	height:500px;
	background-color:antiquewhite;
	overflow:hidden;
	position:relative;
}
.Tank {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: black;
	z-index:5;
}
#Green {
	background-image: url("./green.png");
	background-size: cover;
	left: 0px;
	top: 0px;
	transform:rotate(180deg);
}
#Yellow {
	background-image: url("./yellow.png");
	background-size: cover;
	right: 0px;
	bottom: 0px;
}
.bullet {
	position: absolute;
	border-radius:50%;
	left: 100px;
	top: 100px;
	height: 10px;
	width: 10px;
	background-color: black;
	z-index:1;
}
.hit{
	height:55px;
	width:55px;
	opacity:0.6
}
.destroyed {
	height: 50px;
	width: 50px;
	background-color: black;
	background-image: url("./destroyed.jpg");
}
